# Ignore build artifacts and other files.
/dist
.idea
.DS_Store
yarn.lock
package-lock.json
extension/dist
node_modules
extension.crx
extension.pem
*-bk.test.ts
web-ext-artifacts

site.json
*.txt
src/work/*
/data
